@page
@model IndexModel
@{
    ViewData["Title"] = "Calculator";
}

<div class="row">
    <h1 class="display-4 text-center">Calculator</h1>
    <form class="col-md-6 mx-auto" method="POST">
        <div class="form-group my-2">
            <label for="value1Input">Number1</label>
            <input class="form-control" asp-for="Calculator!.Value1" type="number" class="form-control" id="value1Input" required>
        </div>
        <div class="form-group my-2">
            <label for="value2Input">Number2</label>
            <input asp-for="Calculator!.Value2" type="number" class="form-control" id="value2Input" required>
        </div>
        <div class="form-group my-2">
            <label for="operationSelect">Arithmetic Operation</label>
            <select required class="form-control" asp-items="@Model.Operations" asp-for="@Model.Operation" id="operationSelect">
                <option value="" selected="selected" disabled="disabled">-- Choice operation --</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4 px-4 py-2">=</button>
    </form>
</div>
